@font-face {
  font-family: "DankMono";
  src: url("./DankMono-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding-inline: 12px;
  margin-inline: auto;
}

html {
  --text-primary: #000000;
  --link-primary: #8754ff;
  --spec-primary: #ff6b6b;
}

header {
  text-align: right;
  padding-block: 16px;
  font-size: 20px;
  font-weight: 500;

  > a {
    color: var(--spec-primary);
  }
}

h1 {
  text-align: center;
  margin-block: 32px;
  font-weight: 700;
}

h2 {
  margin-bottom: 16px;
  margin-top: 32px;
  padding-block: 8px;
}

h3 {
  margin-top: 16px;
}

h4 {
  margin-top: 12px;
}

h5 {
  margin-top: 8px;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}

p {
  line-height: 24px;
  text-align: justify;
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin-inline: auto;
  margin-block: 16px;
  border-radius: 8px;
}

ol,
ul {
  list-style-position: inside;
  padding-left: 16px;
  margin-top: 12px;
}

li {
  margin-bottom: 12px;
}

pre {
  margin-block: 16px;

  code {
    border-radius: 8px;
  }

  * {
    font-family: "DankMono", serif;
    font-weight: 600;
    font-size: 18px;
  }
}

a {
  color: var(--link-primary);
  text-decoration: none;

  &[href="#table-of-contents"] {
    color: var(--spec-primary);
    border: 2px dashed var(--spec-primary);
    padding: 8px 32px;
    border-radius: 8px;
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 20px;
  }
}
